<ng-container *ngIf="show">
  <li *ngIf="isExist" class="row align-items-center mb-3 mb-xl-1" #element
      @instantiate (@instantiate.done)=captureDoneEvent($event) [ngClass]="{'new': !price.id}">

    <ng-container *ngIf="oldPrice.price !== null; else priceNull">
      <div class="col-12 col-xl-3">
        <input [(ngModel)]="price.name" class="form-control lv-form mb-1 mb-xl-0"
               placeholder="Megnevezés"
               title="Megnevezés" type="text" value="{{ price.name }}" [ngClass]="{'unsaved':
             price.name !== oldPrice.name, 'is-invalid': error.name}"
               (keyup)="checkChange()">
      </div>

      <div class="col-6 col-sm-3 col-xl-1">
        <input [(ngModel)]="price.current" class="form-control lv-form mb-1 mb-xl-0"
               placeholder="Áram (W)" title="Áramszükséglet" type="number"
               value="{{ price.current }}" [ngClass]="{'unsaved':
             price.current !== oldPrice.current}" (keyup)="checkChange()">
      </div>

      <div class="col-6 col-sm-3 col-xl-1">
        <input [(ngModel)]="price.people" class="form-control lv-form mb-1 mb-xl-0"
               placeholder="Ember"
               title="Ember" type="number" value="{{ price.people }}" [ngClass]="{'unsaved':
             price.people !== oldPrice.people}" (keyup)="checkChange()">
      </div>

      <div class="col-6 col-sm-3 col-xl-1">
        <input [(ngModel)]="price.unit" class="form-control lv-form mb-1 mb-xl-0"
               placeholder="Mértékegység"
               title="Mértékegység" type="text" value="{{ price.unit }}" [ngClass]="{'unsaved':
             price.unit !== oldPrice.unit}" (keyup)="checkChange()">
      </div>

      <div class="col-6 col-sm-3 col-xl-1">
        <input [(ngModel)]="price.price" class="form-control lv-form mb-1 mb-xl-0"
               placeholder="Ár (Ft)"
               title="Ár" type="number" value="{{ price.price }}" [ngClass]="{'unsaved':
             price.price !== oldPrice.price, 'is-invalid': error.price}" (keyup)="checkChange()">
      </div>

      <div class="col-12 col-xl-3">
        <input class="form-control lv-form mb-1 mb-xl-0" placeholder="Leírás..."
               title="Leírás" type="text" value="{{ this.description }}"
               (focus)="onFocus()" [ngClass]="{'unsaved':
             price.description !== oldPrice.description}" (keyup)="checkChange()">
      </div>

      <!--buttons-->

      <div class="col-12 col-xl-2 d-flex justify-content-end">
        <button *ngIf="price.id && showCopyButton" (click)="onCopy()"
                class="btn btn-primary lv-btn btn-info btn-price mr-1"
                type="button"><i class="fontello-docs"></i></button>

        <button *ngIf="price.id && !showCopyButton" (click)="onCancel()"
                class="btn btn-warning lv-btn btn-info btn-price mr-1"
                type="button"><i class="fontello-cancel"></i></button>

        <button (click)="onSave()" class="btn btn-primary lv-btn btn-success btn-price d-inline-block mr-1"
                type="button"><i class="fontello-floppy"></i></button>

        <button (click)="onDelete()" class="btn btn-primary lv-btn btn-danger btn-price"
                type="button"><i class="fontello-trash-1"></i></button>

      </div>

      <app-modal [id]="price.id ? price.id : -1"></app-modal>
    </ng-container>

    <ng-template #priceNull>
      <div class="col-12 col-sm-8 col-md-9 col-xl-10 d-flex" >
        <input [(ngModel)]="price.name" [ngClass]="{'main-category': oldPrice.parent_id === null,
      'sub-category': oldPrice.parent_id !== null, 'unsaved': price.name !== oldPrice.name,
      'with-button': price.sub_price && price.sub_price.length > 0}"
               class="form-control lv-form full-width mb-1 mb-xl-0" placeholder="Név..."
               type="text"
               value="{{ price.name }}" (keyup)="checkChange()">
        <button *ngIf="price.sub_price && price.sub_price.length > 0"
                class="mb-1 mb-xl-0 with-input"
                (click)="onShow()"><div class="icon-animated" [ngClass]="{'showing':
                showChildren}"><i class="fontello-down-open"></i></div></button>
      </div>

      <div class="col-12 col-sm-4 col-md-3 col-xl-2 d-flex justify-content-end">
        <button (click)="onAdd()" class="btn btn-primary lv-btn btn-info btn-price mr-1"><i
          class="fontello-doc-new"></i></button>

        <button (click)="onSave()" class="btn btn-primary lv-btn btn-success btn-price d-inline-block mr-1"
                type="button"><i class="fontello-floppy"></i></button>

        <button (click)="onDelete()" class="btn btn-primary lv-btn btn-danger btn-price d-inline-block"
                type="button"><i class="fontello-trash-1"></i></button>
      </div>
    </ng-template>

  </li>

  <ng-container *ngIf="price.sub_price && price.sub_price.length">
    <app-sub-price (copyPrice)="copyUp($event)"
                   (addNew)="addNewUp($event)"
                   (deleteNew)="deleteNewUp($event)"
                   (newFlag)="newFlagUp($event)"
                   (changed)="changedUp($event)"
                   *ngFor="let subPrice of price.sub_price; let i=index"
                   [index]="i" [price]="subPrice" [show]="showChildren"></app-sub-price>
  </ng-container>
</ng-container>



