button {
    border: none;
    outline: none;
   
    &:focus, &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
    
    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
}

.lv-btn {
    @extend %transition;
    font-family: $gothic-regular;
    font-weight: unset;
    border-radius: 0;
    outline: none;
    padding: $button-vertical-padding $button-horizontal-padding;

    &:focus, &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
    
    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
}

.btn-price {
    padding: 4px 10px;
    font-size: 22px;
}

.btn-skeleton {
    border: 1px solid $btn-skeleton-border;
    background-color: transparent;
    color: $text-color;

    &:hover {
        border: 1px solid $btn-skeleton-border;
        background-color: $btn-hover-color;
        color: $text-color;
    }

    &:disabled {
        color: $btn-disabled-text;
    }
}

.btn-normal {
    border: 1px solid $btn-color;
    background-color: $btn-color;
    color: $text-color;

    &:hover {
        border: 1px solid $btn-hover-color;
        background-color: $btn-hover-color;
    }

    &:disabled {
        color: $btn-disabled-text;
        background-color: $btn-disabled-bg;
    }

    &:not(:disabled):not(.disabled):active {
        border: 1px solid $btn-hover-color;
        background-color: $btn-hover-color;
    }
}

.adminButton {
    position: fixed;
    bottom: 0;
    left: 0;
}

.navButtonActive {
    color: white !important;

    span {
        @extend %transition;
        border-bottom: 1px solid white;
    }    
}

.search-opener {
    @extend %transition;
    background-color: transparent;
    color: rgba(255,255,255,0.7);
    position: absolute;
    align-self: center;
    font-size: 32px;
    z-index: 10;


    &:hover {
        color: rgba(255,255,255,1);
    }

    @include media(lg) {
        right: 0;
        padding: 0;
      };
    
      @include media(md) {
        right: 0;
        padding: 0;
      };
    
      @include media(sm) {
        right: 60px;
        padding: 0 20px;
      };
    
      @include media(xs) {
        right: 60px;
        padding: 0 20px;
      };
}

.topScroller {
    @extend %transition;
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,0.7);
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 32px;
    padding: 5px 10px;
    z-index: 10;
    opacity: 0;
    display: block;

    &:hover {
        color: rgba(255,255,255,1);
        background-color: rgba(0,0,0,0.6);
    }
    
    @include media(lg) {
        display: none;
      };
    
      @include media(md) {
        display: none;
      };
    
      @include media(sm) {
        display: block;
      };
    
      @include media(xs) {
        display: block;
      };
}






