/* FONTELLO */

%fontello {
    font-family: $fontello;
    font-style: normal;
    font-weight: normal;
    //speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="fontello-"]:before, [class*=" fontello-"]:before {
    @extend %fontello;
}

.fontello-pencil:before { content: '\e800'; } /* '' */
.fontello-phone-outline:before { content: '\e801'; } /* '' */
.fontello-pencil-1:before { content: '\e802'; } /* '' */
.fontello-mail:before { content: '\e803'; } /* '' */
.fontello-phone:before { content: '\e804'; } /* '' */
.fontello-trash-1:before { content: '\e805'; } /* '' */
.fontello-doc-new:before { content: '\e806'; } /* '' */
.fontello-right-dir:before { content: '\e807'; } /* '' */
.fontello-left-dir:before { content: '\e808'; } /* '' */
.fontello-up-dir:before { content: '\e809'; } /* '' */
.fontello-down-dir:before { content: '\e80a'; } /* '' */
.fontello-floppy:before { content: '\e80b'; } /* '' */
.fontello-volume-up:before { content: '\e80c'; } /* '' */
.fontello-mic-1:before { content: '\e80d'; } /* '' */
.fontello-down-open-big:before { content: '\e80e'; } /* '' */
.fontello-left-open-big:before { content: '\e80f'; } /* '' */
.fontello-up-open-big:before { content: '\e810'; } /* '' */
.fontello-cancel:before { content: '\e811'; } /* '' */
.fontello-right-open-big:before { content: '\e812'; } /* '' */
.fontello-logout-1:before { content: '\e813'; } /* '' */
.fontello-logout-2:before { content: '\e814'; } /* '' */
.fontello-login:before { content: '\e815'; } /* '' */
.fontello-picture:before { content: '\e816'; } /* '' */
.fontello-megaphone:before { content: '\e817'; } /* '' */
.fontello-video:before { content: '\e818'; } /* '' */
.fontello-search:before { content: '\e819'; } /* '' */
.fontello-news:before { content: '\e81a'; } /* '' */
.fontello-login-2:before { content: '\e81b'; } /* '' */
.fontello-headphones:before { content: '\e81c'; } /* '' */
.fontello-headphones-1:before { content: '\e81d'; } /* '' */
.fontello-music:before { content: '\e81e'; } /* '' */
.fontello-floppy-1:before { content: '\e820'; } /* '' */
.fontello-sound:before { content: '\e824'; } /* '' */
.fontello-home:before { content: '\e857'; } /* '' */
.fontello-down-open:before { content: '\f004'; } /* '' */
.fontello-up-open:before { content: '\f005'; } /* '' */
.fontello-next:before { content: '\f006'; } /* '' */
.fontello-prev:before { content: '\f007'; } /* '' */
.fontello-pause:before { content: '\f00e'; } /* '' */
.fontello-play:before { content: '\f00f'; } /* '' */
.fontello-to-end:before { content: '\f010'; } /* '' */
.fontello-to-start:before { content: '\f011'; } /* '' */
.fontello-fast-forward:before { content: '\f012'; } /* '' */
.fontello-fast-backward:before { content: '\f013'; } /* '' */
.fontello-login-1:before { content: '\f02c'; } /* '' */
.fontello-logout:before { content: '\f02d'; } /* '' */
.fontello-stop:before { content: '\f080'; } /* '' */
.fontello-trash:before { content: '\f083'; } /* '' */
.fontello-docs:before { content: '\f0c5'; } /* '' */
.fontello-mic:before { content: '\f130'; } /* '' */
.fontello-youtube-play:before { content: '\f16a'; } /* '' */
.fontello-copyright:before { content: '\f1f9'; } /* '' */
.fontello-facebook-squared:before { content: '\f30e'; } /* '' */
