$background-color: #1c1e20;
$text-color: #ffffff;
$navbar-text-color: #b3b3b3;
$navbar-text-color-active: #ffffff;
$link-color: #b3b3b3;
$purple: rgba(109,25,22,1);
$purple-fade: rgba(109,25,22,0.3);
$dark-text-color: #231f20;


$header-lg-height: 200px;
$header-md-height: 180px;
$header-sm-height: 150px;
$header-xs-height: 100px;

$intro-lg-min-height: $header-lg-height + 500px;
$intro-md-min-height: $header-md-height + 500px;
$intro-sm-min-height: $header-sm-height + 550px;
$intro-xs-min-height: $header-xs-height + 550px;

$grad-lg-height: 140px;
$grad-md-height: 120px;

$header-lg-horizontal-padding: 80px;
$header-md-horizontal-padding: 50px;
$header-sm-horizontal-padding: 40px;
$header-xs-horizontal-padding: 20px;

$navbar-height: 80px;

$logo-holder-lg-width: 186px;
$logo-holder-md-width: 160px;
$logo-holder-sm-width: 120px;
$logo-holder-xs-width: 100px;

$logo-holder-lg-vertical-padding: 30px;
$logo-holder-md-vertical-padding: 24px;
$logo-holder-sm-vertical-padding: 18px;
$logo-holder-xs-vertical-padding: 10px;

$intro-lg-font-size: 44px;
$intro-md-font-size: 38px;
$intro-sm-font-size: 30px;
$intro-xs-font-size: 24px;

$intro-lg-line-height: 54px;
$intro-md-line-height: 48px;
$intro-sm-line-height: 36px;
$intro-xs-line-height: 34px;

$logo-lg-width: 140px;
$logo-md-width: 126px;
$logo-sm-width: 108px;
$logo-xs-width: 68px;

$navbar-font-size: 20px;
$navbar-lan-font-size: 12px;
$display-big-font-size: 56px;


$dark-grey: #303030;
$white: #ffffff;
$btn-skeleton-border: #ffffff;
$btn-disabled-bg: #eeeeee;
$btn-disabled-text: #d7d7d7;
$btn-hover-color: #232222;
$btn-color: #3e3b3b;

$button-horizontal-padding: 20px;
$button-vertical-padding: 12px;
$button-margin: 6px 12px;
$button-width: 150px;
$button-small-horizontal-padding: 8px;
$button-small-vertical-padding: 10px;
$button-small-margin: 8px;
$button-small-min-width: 100px;
$button-xsmall-vertical-padding: 8px;
$button-xsmall-margin: 4px;


$big-font-size: 60pt;
$middle-font-size: 30pt;
$small-font-size: 14px;
$navlist-font-size: 18px;


$h1: 30px;
$h2: 26px;
$h3: 24px;
$h4: 14px;
$h5: 30px;

$p-font-size-lg: 22px;
$p-font-size-md: 20px;
$p-font-size-sm: 18px;
$p-font-size-xs: 16px;

$default-font-size: 13px;
$list-font-size: 14px;
$small-font-size: 11px;

$navbar-logo-width-lg: 100px;
$navbar-logo-width-md: 80px;
$navbar-logo-width-sm: 50px;

$fontello: 'fontello';

$gothic-regular: 'Gothic-Regular';
$gothic-italic: 'Gothic-Italic';
$gothic-italic-bold: 'Gothic-Italic-Bold';
$gothic-bold: 'Gothic-Bold';

$fallback-sans: Arial,Helvetica,sans-serif;
$fallback-serif: "Times New Roman", Times, serif;

