app-modal {
  display: none;

  .lv-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 18;
    overflow: auto;
    border-radius: 5px;

    .lv-modal-body {
      border-radius: 5px;
      background-color: #fcf3e6;
      position: relative;

      @media (max-width: 575.98px) {
        padding: 50px 30px 30px;
        margin: 20px;
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 50px 40px 40px;
        margin: 70px;
      }

      @media (min-width: 768px) and (max-width: 1199.98px) {
        padding: 50px;
        margin: 100px;
      }

      @media (min-width: 1200px) {
        padding: 80px;
        margin: 150px;
      }

      .exitButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: transparent;
        color: #231f20;
        font-size: 25px;
        transition: all .3s;
      }


      .ql-toolbar.ql-snow {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .ql-container.ql-snow {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #231f20;
        background-color: hsla(0,0%,100%,.1);
      }

      .modal-text {
        height: 150px;
      }
    }

    .dark {
      background-color: #1e1e1e;
      color: white;
      border: 1px solid rgba(255,255,255,0.4);

      @media (max-width: 575.98px) {
        margin: 1.75rem 20px;
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        margin: 1.75rem 70px;
      }

      @media (min-width: 768px) and (max-width: 1199.98px) {
        margin: 1.75rem 100px;
      }

      @media (min-width: 1200px) {
        margin: 1.75rem 150px;
      }

      .exitButton {
        color: rgba(255,255,255,0.5);

        &:hover {
          color: white;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 17;
  }
}

body.lv-modal-open {
  overflow: hidden;
}
