<p>Árcsökkentő tényezők:</p>
<ul style="list-style-type: unset; padding-left: 30px">
  <li>
    <p>Mennyiségi kedvezmény:</p>
    <p>
      Komplett kivitelezéshez kiválasztott eszközök bérleti díja jelentősen kevesebb, mint a
      tételek összegzett ára.(pl.: 8 set HK Audio Cohedra +Coda sub, Yamaha PM4000, 8 db. JBL
      M22 , 8 úton, 20db. mikrofon, 8db.DI, 20 db. mikrofon állvány rack összesen 322000ft
      lenne, de ez 250000ft.)
    </p>
  </li>
  <li>
    <p>Több napos rendezvény kedvezménye:</p>
    <p>
      A második harmadik nap eszközbérleti díjait 70%-al, a további napok díját 50%-al
      számoljuk. (pl. Egy rendezvényhez kiválasztott eszköz park bérleti díja pl. 500eft egy
      napra, ugyanez a rendszer ha egy hétig bérlődik, akkor nem 7X500eFt = 3500eFt, hanem
      500+2X350+4X250eFt, tehát csak 2200eFt)
    </p>
  </li>
  <li>
    <p>Visszatérő megrendelők kedvezménye:</p>
    <p>
      Ez általában jelentős tétel, de mindig egyedi megbeszélés tárgya.
    </p>
  </li>
</ul>
<p>Árnövelő tételek:</p>
<ul style="list-style-type: unset; padding-left: 30px">
  <li>
    <p>Technikusok, road-ok bére.</p>
    <p>
      A munka nehézségétől és hosszától függően 15-30.000ft nett/ fő. (2-3 órás rendezvény is
      gyakran 6-10 órás. A maximum gyakorlatilag 24 óra munka)
    </p>
  </li>
  <li>
    <p>Áramellátás esetleges plussz költségei:</p>
    <p>
      Ha háromfázisú nagy áramot 50 méternél távolabb kell vezetni.
      Ha nem elegendő az áram a rendezvényhez, ebben az esetben aggreátort kell bérelnünk.
    </p>
  </li>
</ul>
